* {
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(28, 16%, 24%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--Rose-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 50px; */
}
main {
  /* display: grid;
  place-items: center;  */
  /* min-height: 100vh; */
  background-color: var(--White);
  max-width: 500px;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  padding: 2.18em;
  border-radius: 20px;
}

.main-container img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover; /* gpt */
}
.main-container h1 {
  color: var(--Stone-900);
  font-size: 2em;
  font-weight: 900;
}

.main-container p {
  color: var(--Stone-600);
  word-wrap: break-word;
  font-size: 16px;
}

.line {
  border-bottom: 1px solid var(--Stone-150);
}
h3 {
  color: var(--Brown-800);
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 1.875em;
  margin-bottom: 0.625em;
}
h4 {
  color: var(--Rose-800);
  margin: 0;
  margin-bottom: 10px;
}

.prep-time {
  background-color: var(--Rose-50);
  color: var(--Stone-600);
  padding: 1.25em; /* gpt increasr to match */
  border-radius: 20px;
  /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}

ul,
ol {
  /* margin: 0; */
  color: var(--Stone-600);
  padding-left: 0;
  margin-inline-start: 10px;
}

li:last-of-type {
  padding-bottom: 0.625em;
}
li {
  margin-bottom: 10px;
  word-wrap: break-word;
}

/* li::marker {
    margin-right: 10px;
    text-indent: 10px;
} */

.nutrition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.colored {
  color: var(--Brown-800);
  font-weight: 800;
  padding: 0;
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1px;
  }
  main {
    background-color: none;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .main-container img {
    border-radius: 0;
    width: 100%;
  }
}
